body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:377px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:667px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3 {
  position:absolute;
  left:1px;
  top:635px;
  width:375px;
  height:32px;
}
#u3_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:38px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:32px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:240px;
  top:0px;
  width:135px;
  height:32px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:32px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:109px;
  top:0px;
  width:260px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:256px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:9px;
  top:0px;
  width:100px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:160px;
  width:376px;
  height:80px;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:80px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:372px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:6px;
  top:210px;
  width:70px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:76px;
  top:210px;
  width:70px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:146px;
  top:210px;
  width:77px;
  height:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:216px;
  top:210px;
  width:70px;
  height:30px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:286px;
  top:210px;
  width:70px;
  height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:60px;
  width:376px;
  height:30px;
}
#u27_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:382px;
  height:36px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:35px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:250px;
  top:0px;
  width:126px;
  height:30px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:190px;
  top:160px;
  width:166px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:162px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:280px;
  width:376px;
  height:80px;
  text-align:left;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:80px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:372px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:6px;
  top:330px;
  width:70px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:76px;
  top:330px;
  width:70px;
  height:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:146px;
  top:330px;
  width:77px;
  height:30px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:216px;
  top:330px;
  width:70px;
  height:30px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:286px;
  top:330px;
  width:70px;
  height:30px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:190px;
  top:280px;
  width:166px;
  height:30px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:162px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:400px;
  width:376px;
  height:80px;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:80px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:372px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:6px;
  top:450px;
  width:70px;
  height:30px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:76px;
  top:450px;
  width:70px;
  height:30px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:146px;
  top:450px;
  width:77px;
  height:30px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:216px;
  top:450px;
  width:70px;
  height:30px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:286px;
  top:450px;
  width:70px;
  height:30px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:190px;
  top:400px;
  width:166px;
  height:30px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:162px;
  word-wrap:break-word;
}
